

/********
CUSTOM.SCSS
*********/

/********
VARIABLES
*********/


/*
COLORS
*/
$ecc-red-main: #ED1C24;
$ecc-red-darkest: #A32929;
$ecc-red-dark: #BD2F2A;
$ecc-red-light: #E84F3C;
$ecc-red-lightest: #F0A693;

$ecc-grey-main: #646469;
$ecc-grey-dark: #555759;
$ecc-grey-darkest: #1D242B;
$ecc-grey-light: #8F9C9C; 
$ecc-grey-lightest: #C3C5C7;

$ecc-grey-superlight: #EEE;

$backgroud-hover: $ecc-red-light;

/*
MIXINS
*/

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
 
	-webkit-box-shadow:$top $left $blur $color #{$inset};
	-moz-box-shadow:$top $left $blur $color #{$inset};
	box-shadow:$top $left $blur $color #{$inset};
}

@mixin center {
	text-align: center;
	margin: 0 auto;
}

/********
FONT FACE
*********/

@font-face {
	font-family: 'HN-Roman';
	src: url('fonts/HN-Roman/HN-Roman.otf');
	src: local('☺'), url('fonts/HN-Roman/HN-Roman.woff') format('woff'), url('fonts/HN-Roman/HN-Roman.ttf') format('truetype'), url('fonts/HN-Roman/HN-Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HN-Thin';
	src: url('fonts/HN-Thin/HN-Thin.otf');
	src: local('☺'), url('fonts/HN-Thin/HN-Thin.woff') format('woff'), url('fonts/HN-Thin/HN-Thin.ttf') format('truetype'), url('fonts/HN-Thin/HN-Thin.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HN-Bold';
	src: url('fonts/HN-Bold/HN-Bold.otf');
	src: local('☺'), url('fonts/HN-Bold/HN-Bold.woff') format('woff'), url('fonts/HN-Bold/HN-Bold.ttf') format('truetype'), url('fonts/HN-Bold/HN-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
	min-width: 320px;
}

body {
	font-family: 'HN-Roman';
	font-size: 14px;
}
h1, h2, h3, h4, h5 {
	font-family: "HN-Bold";
}

a { color: $ecc-red-main;
	&:hover {color: $ecc-red-lightest;}
}

#top {
	background-color: $ecc-grey-superlight;
	text-shadow: none;
	text-shadow: none;
	button {text-shadow: none; }
	span {text-shadow: none; color: #FFF;}
	i {text-shadow: none;  color: #FFF;}
	display: none;
}

#heart {width: 150px;}

#btn-search {
	background: $ecc-red-darkest;
	border: solid 1px $ecc-red-darkest;
}

#cart > .btn {
	background: $ecc-red-darkest;
	border-color: $ecc-red-darkest;
	color: #FFF;
}

//categories navbar
#menu {

	background-color: $ecc-red-main;
	border: solid $ecc-red-main 1px;

	.navbar-header, .navbar-ex1-collapse {
		background-color: $ecc-red-main;
		border: solid $ecc-red-main 1px;
		border: none;

		text-shadow: none;
		span { text-shadow:none;}
		box-shadow: none;
		padding: 0;
		margin: 0;
		ul{
			.dropdown-menu {
				background: $ecc-red-main;
				margin: 0;
				padding: 0;
					li a{
						color: #FFF;
					&:hover {
						background-image: none;
						background-color: $ecc-red-dark;
					}
				}
			}
		}

	}

	.btn-navbar {
		font-size: 15px;
		color: #FFF;
		background: $ecc-red-main;
		// background: transparent;
		// border: none;
		text-transform: uppercase;
		border: none;
		box-shadow: none;
		&:hover {background: transparent;}
	}
}



// background: rgba(0, 0, 0, 0.1);

// .dropdown-menu li > a:hover {
// 	text-decoration: none;
// 	color: #ffffff;
// 	background-color: white;
// }

#category { text-shadow: none;}
#welcome-message {@include center; padding: 30px 0 30px 0;}

/*
BREADCRUMBS
*/

.breadcrumb {
	background: transparent;
	border: none;
	li{
		background: transparent;
		&:after{
			color: $ecc-grey-superlight;
			content: ' / ';
			position: absolute;
			font-size: 24px;
			top: 5px;
			right: 5px;
			width: 0;
			height: 0;
			border-right: none;
			border-bottom: none;
		}
	}
}

/*****
CONTENT
*****/

#content {
	min-height: 400px;
}

/********
SIDE NAVS
********/

.list-group {
	a {
		&.active {
			background-color: $ecc-grey-light;
			text-shadow: none;
		}
		&.active:hover, &:hover{
			background-color: $ecc-red-main;
			color: #FFF;
			text-shadow: none;
		}
	}
}	
// .list-group a.active, .list-group a.active:hover, .list-group a:hover {
// 	color: #444444;
// 	background:$ecc-red-lightest;
// 	border: 1px solid #DDDDDD;
// 	text-shadow: 0 1px 0 #FFF;
// }

.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: $ecc-red-dark;
	background-repeat: repeat-x;
}




#cart{
	.dropdown-menu {
		background: #FFF;
		z-index: 1001;
		box-shadow: none;
		border: 1px solid $ecc-grey-lightest;
		width: auto;
		padding: 10px 10px 0 10px;
		text-align: right;
		float: right;

		p{
			a {
				&:hover {
					text-decoration: underline;
				}
			}
		}
		li {
			table{
				tbody {
					border: none;
					tr {
						&:hover{
							background-color: #FFF;
						}
						border: none;
						td {
							margin: 0;
							border: none;
							background: #FFF;
							border-bottom: 1px solid $ecc-grey-lightest;
							padding: 20px 10px 20px 0;
						}
					}
				}
			}

			div{
				table {
					tbody{
						td{
							td{
									border: none
							}
						}
					}
				}

			}
		}
	}
} 

 
#logo { text-align: center; margin: 0 auto 30px auto; width: 400px;}
#logo2 { display: none; text-align: center; margin: -10px auto; width: 300px;}

footer {
	background-color: $ecc-red-main;
	hr {
		border: 0; border-top: 1px solid $ecc-grey-lightest;
		margin-bottom: 0 auto 25px;
		padding: 0;
	}
	h4 {font-family: 'HN-Bold'; color: #FFF;}
	.footer-links {
		padding: 0 0 10px 10px;
		list-style-type: none;
		li {
			padding-bottom: 5px;
			a {font-weight: bold; color: #FFF; text-decoration: none;}
		}
		
	}
	
	font-family: 'HN-Thin';
}

/*****************
BOOTSTRAP OVERRIDE
*****************/
 

input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
textarea:focus, {   
  border-color: $ecc-grey-lightest;
  box-shadow: 0 1px 1px $ecc-grey-lightest inset, 0 0 5px $ecc-grey-lightest;
  outline: 0 none;
}

/*
button styles
*/

button, .button-group > button, .btn {
	color: #FFF;
	background-color: $ecc-red-main;
	background: $ecc-red-main;
	border-color: $ecc-red-main;
	@include center;

	&:hover, &:active {
		background-color: $ecc-red-light;
		color: #FFF;
		border-color: $ecc-red-light;

	}
}


	.alert-success {
		background-color: $ecc-red-lightest;
		color: #FFF;
		a {
			color: #FFF;
			text-decoration: underline;
		}
	}

/**********************
BOOTSTRAP OVERRIDE END
***********************/


.product-thumb {
	// .button-group{
	// 	border: none;
	// 	margin: 10px;
	// 	text-align: center;
	// 	// width:100px;
 #addcartdiv{
 	@include center;
		button {
			// width: 40%;
			background-color: $ecc-red-main;
			color: #FFF;
			// line-height: 38px;
			border: 1px solid $ecc-red-main;
			text-align: center;
			text-transform: uppercase;
			@include center;
			&:hover{
				color: #FFF;
				background-color: $ecc-red-light;
				text-decoration: none;
				cursor: pointer;
				border: 1px solid $ecc-red-light;
			}
		}
	}
}


/***********
OWL CAROUSEL
***********/


#owl-demo .item{
  margin: 5px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

/************
MEDIA QUERIES
************/

@media (max-width: 767px) {
	#logo {
		// display: none;
	}

	#logo2 {
		display: block;
	}
	#addcartdiv {
		width: 100%;
		button {
			width: 100%;
		}
	}
	
}

@media (min-width: 768px) {
	#addcartdiv {
		width: 100%;
		button {
			width: 40%;
		}
	}
}

@media (min-width: 992px) {
	#addcartdiv {
		width: 100%;
		button {
			width: 50%;
		}
	}


}

@media (min-width: 1200px) {
	#addcartdiv {
		width: 100%;
		button {
			width: 60%;
		}
	}
}
